@import "./scss/layout.scss";

/* 改变主题色变量 */
// $--color-primary: $primaryColor;

/* 改变 icon 字体路径变量，必需 */
$--font-path: "~element-ui/lib/theme-chalk/fonts";

@import "~element-ui/packages/theme-chalk/src/index";
@import "~nprogress/nprogress.css";

#nprogress {
  position: absolute;
  z-index: 30000;
  .bar {
    background: #45a8cc;
    height: 4px;
  }
  .spinner {
    display: none;
  }
}